$blue: #1374f6;
$light-blue: #f2faff;
$ivory: #f3f3f3;
$black: #161616;
$azure: #f0f0ff;
$gray: #7d7d7d;
$light-gray: #e4e4e4;
$white: #ffffff;
$orange: #e79944;
$green: #29bd56;
$red: #f81b35;
$coral: #ed4c4f;
$thistle: #f0f0ff;

$--rate-icon-size: 11px;
$--rate-icon-margin: 3px;
